body {
  background-color: forestgreen;
}

img {
  width: 20%;
}

.right {
  transition-duration: 500ms;
}

.down {
  transition-duration: 500ms;
}

.left {
  transition-duration: 500ms;
}

.up {
  transition-duration: 500ms;
}
